<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Sex</th>
      <th>Year</th>
      <th>Sire</th>
      <th>Dam</th>
      <th colspan=4>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @horses.each do |horse| %>
      <tr>
        <td><%= horse.id %></td>
        <td><%= horse.name %></td>
        <td><%= horse.sex %></td>
        <td><%= horse.year %></td>
        <td><%= horse.sire.name if horse.sire %></td>
        <td><%= horse.dam.name if horse.dam %></td>
        <td><%= link_to 'Show', horse %></td>
        <td><%= link_to 'Edit', edit_horse_path(horse) %></td>
        <td><%= link_to 'Destroy', horse, method: :delete, data: {
          confirm: "Are you sure you want to destroy '#{horse.name}'?" } %></td>
        <td><%= link_to 'Tree', tree_horse_path(horse) %></td>
        <td><%= link_to 'XTree', xtree_horse_path(horse) %></td>
        <td><%= link_to 'Children', children_horse_path(horse) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @horses %>
