<h2>Horse Family Tree</h2>

<table>

  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[7] %></td>
	</tr>
    <tr>
      <td></td>
      <td></td>
      <td><%= @names[3] %></td>
	</tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[8] %></td>
	</tr>
    <tr>
      <td></td>
      <td><%= @names[1] %></td>
	</tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[9] %></td>
	</tr>
    <tr>
      <td></td>
      <td></td>
      <td><%= @names[4] %></td>
	</tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[10] %></td>
	</tr>
    <tr>
      <td><%= @names[0] %></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[11] %></td>
	</tr>
    <tr>
      <td></td>
      <td></td>
      <td><%= @names[5] %></td>
	</tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[12] %></td>
	</tr>
    <tr>
      <td></td>
      <td><%= @names[2] %></td>
	</tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[13] %></td>
	</tr>
    <tr>
      <td></td>
      <td></td>
      <td><%= @names[6] %></td>
	</tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[14] %></td>
	</tr>
  </tbody>
</table>
