<h2>Horse Family Tree</h2>

<table border="0">

  <tbody>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[15] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[7] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[16] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td><%= link_to @names[3], tree_horse_path(@tree[3]) if @names[3] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[17] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[8] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[18] %></td>
    </tr>

    <tr>
      <td></td>
      <td><%= link_to @names[1], tree_horse_path(@tree[1]) if @names[1] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[19] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[9] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[20] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td><%= @names[4] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[21] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[10] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[22] %></td>
    </tr>

    <tr>
      <td><%= @names[0] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[23] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[11] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[24] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td><%= @names[5] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[25] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[12] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[26] %></td>
    </tr>

    <tr>
      <td></td>
      <td><%= link_to @names[2], tree_horse_path(@tree[2]) if @names[2] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[27] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[13] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[28] %></td>
    </tr>
    
    <tr>
      <td></td>
      <td></td>
      <td><%= @names[6] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[29] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[14] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @names[30] %></td>
    </tr>

  </tbody>

</table>

<%= link_to 'Back', horses_path %>
