<h2>Horse Family Tree</h2>

<table border="0">

  <tbody>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to @names[15], tree_horse_path(@tree[15]) if @names[15] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to @names[7], tree_horse_path(@tree[7]) if @names[7] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to @names[16], tree_horse_path(@tree[16]) if @names[16] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td><%= link_to @names[3], tree_horse_path(@tree[3]) if @names[3] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to @names[17], tree_horse_path(@tree[17]) if @names[17] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to @names[8], tree_horse_path(@tree[8]) if @names[8] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to @names[18], tree_horse_path(@tree[18]) if @names[18] %></td>
    </tr>

    <tr>
      <td></td>
      <td><%= link_to @names[1], tree_horse_path(@tree[1]) if @names[1] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to @names[19], tree_horse_path(@tree[19]) if @names[19] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to @names[9], tree_horse_path(@tree[9]) if @names[9] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to @names[20], tree_horse_path(@tree[20]) if @names[20] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td><%= link_to @names[4], tree_horse_path(@tree[4]) if @names[4] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to @names[21], tree_horse_path(@tree[21]) if @names[21] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to @names[10], tree_horse_path(@tree[10]) if @names[10] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to @names[22], tree_horse_path(@tree[22]) if @names[22] %></td>
    </tr>

    <tr>
      <td><%= @names[0] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to @names[23], tree_horse_path(@tree[23]) if @names[23] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to @names[11], tree_horse_path(@tree[11]) if @names[11] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to @names[24], tree_horse_path(@tree[24]) if @names[24] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td><%= link_to @names[5], tree_horse_path(@tree[5]) if @names[5] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to @names[25], tree_horse_path(@tree[25]) if @names[25] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to @names[12], tree_horse_path(@tree[12]) if @names[12] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to @names[26], tree_horse_path(@tree[26]) if @names[26] %></td>
    </tr>

    <tr>
      <td></td>
      <td><%= link_to @names[2], tree_horse_path(@tree[2]) if @names[2] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to @names[27], tree_horse_path(@tree[27]) if @names[27] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to @names[13], tree_horse_path(@tree[13]) if @names[13] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to @names[28], tree_horse_path(@tree[28]) if @names[28] %></td>
    </tr>
    
    <tr>
      <td></td>
      <td></td>
      <td><%= link_to @names[6], tree_horse_path(@tree[6]) if @names[6] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to @names[29], tree_horse_path(@tree[29]) if @names[29] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to @names[14], tree_horse_path(@tree[14]) if @names[14] %></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to @names[30], tree_horse_path(@tree[30]) if @names[30] %></td>
    </tr>

  </tbody>

</table>

<%= link_to 'Back', horses_path %>
